body {
     margin: 100px;
     max-width: 960px;
     overflow: scroll;
}

.row {
    width: 800px;

}

button {
    margin: 7px 5px 7px 0;
}


img {
    max-width: 150px;
}

#gifs {
    float: left;
    margin: 5px;

}

#more-gifs {
    float: right; 
    margin-top: 90px;
}